AWS_NO_SIGN_REQUEST=YES
GROUNDTRUTH_PARQUET=data/groundsource_2026.parquet
MPLCONFIGDIR=.cache/matplotlib
IPYTHONDIR=.ipython
JUPYTER_CONFIG_DIR=.jupyter/config
JUPYTER_DATA_DIR=.jupyter/data
JUPYTER_RUNTIME_DIR=.jupyter/runtime
